.container {
    padding: 100px 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 10px;
    background-color: skyblue;
}

#sen {
    /*font-style: italic;*/
    color: darkslateblue;
    font-size: 40px;
    font-family:Algerian;
    text-align:center;
    align-content: center;
    justify-content: center;
}


#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;height:100px;
    padding: 100px 100px;
    border-style:solid;
    margin: auto;
    border-width: 2px;
    font-family:Garamond;
    font-size: 30px;
    gap: 50px;
    /*/background-color: darkblue;*/
}
.text {
    font-family: 'Yu Gothic';
    color: darkblue;
    font-size: 30px;
    }

#flp{
    align-content:center;
    text-align:left;
    color:darkblue;
    font-size:40px;
    font-family:Arial;
    padding:0px;
}

a {
  color: darkblue;
  text-decoration:none;
  font-size:30px;
}

#content_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 100px 0px;
   }

.inner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 20px;
  font:20px arial;

}

img {
  width: 180px;
  border-radius: 90%;
}

#socials {
    display: none;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

button {
  width: 100px;
}